
*{
    margin: 0;
    border: 0;
}


.jaro-<uniquifier> {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.TotalContent{
    width: 100%;
    height: ;
    background-color: #f5f5f5;
}









.TopBar{
    width: 100%;
    height: 75px;
    background-color: rgb(255, 255, 255);
}
.menubar{
    width: 1475px;
    height: 75px;
    background-color: ;
    margin: auto;
    display: flex;
}
.menubar h1{
    font-family: "Jaro", sans-serif;
    padding-top: 13px;
    font-size: 36px;
    color: #007F29;
}
.menubar ul{
    margin-left: 200px;    
}
.menubar li {
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;

}
.menubar li a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #1f1d1d;
    margin-right: 80px;
}
.menubar button{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    
    width: 160px;
    height: 40px;
    color: #ffffff;
    background-color: #B1E82D;
    border-radius: 6px;
    margin-left: 10px;
}







.HeadBanner{
    width: 100%;
    height: 650px;
    background-color: #ffffff;
    background-image: url(../Image/Home/Group\ 33.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.BannedText{
    width: 1475px;
    height: 500px;
    background-color:  ;
    margin: auto;
}
.BannedText h1{
    font-family: "Inter", sans-serif;
    font-size: 54px;
    padding-top: 150px;
        color: #ffffff;
}
.BannedText p{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    padding-top: 24px;
    padding-bottom: 100px;
    color: #ffffff;
}
.BannedText button{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 220px;
    height: 56px;
    color: #ffffff;
    background-color: #007F29;
    border-radius: 12px;
    margin-right: 20px;
    
}



.HCard{
    width: 460px;
    height: 320px;
    background-color: #f5f5f5;
    padding: 25px;
    margin-left: 950px;
    margin-top: -340px;
    border-radius: 12px;
}

.HSearchbar{    
    width: 455px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 20px;
    }
.HSearchbar p{ 
    font-size: 16px;
    padding: 12px;
    color: #868686;
}

.HProperty{    
    width: 455px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    margin-bottom: 20px;
    }
.HProperty p{ 
    font-size: 16px;
    padding: 12px;
    color: #858585;
}


.HPR{
    width: 455px;
    height: 48px;
    background-color: 
    border-radius: 6px;
    margin-bottom: 20px;

    background-image: url(../Image/Home/Group\ 62.png);
}
.MiniMax{
    width: 455px;
    height: 48px;
    background-color: ;
    border-radius: 6px;
    margin-bottom: 20px;
    display: flex;
    font-family: "Inter", sans-serif;
}

.Mini{
    width: 215px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    margin-bottom: 20px;
}
.Mini p{
    font-size: 20px;
    padding: 12px;
    color: #1d1c1c;
}
.Max{
    width: 215px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    margin-bottom: 20px;
    margin-left: 25px;
}
.Max p{
    font-size: 20px;
    padding: 12px;
    color: #d3d3d3;
}
.HCard button{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 455px;
    height: 48px;
    color: #ffffff;
    background-color: #007F29;
    border-radius: 12px;
}











.LookingFor{
    width: 1475px;
    height: 300px;
    background-color: ;
    background-size: cover;
    margin: auto;
}  
    
.LookingFor h1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    padding-top: 50px;
    color: #1f1c1c;
}
.AHO{
    width: 1480px;
    height: 115px;
    background-image: url(../Image/Home/Group\ 50.png);
    margin-top: 25px;    
}








.Featured{
    width: 100%;
    height: 650px;
    background-color: rgb(255, 255, 255);
}
.Featured1{
    width: 1480px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    margin: auto;
}
.Featuredtext {
    display: inline-block;
    font-family: "Inter", sans-serif;
}
.Featured h1 {
    font-size: 24px;
    padding-top: 50px;
    color: #1f1c1c;
}
.Featured p{
    font-size: 20px;
    padding-top: 50px;
    color: #309c0f;
    margin-left: 1370px;
    margin-top: -75px;
}
.Featured4card{
    width: 1480px;
    height: 490px;
    background-color:;
    margin-top: 25px;
    display: flex;
}
.Featured h2{
    font-size: 20px;
    color: #353636;
}


.Featured4card1{
    width: 345px;
    height: 490px;
    background-color: rgb(248, 248, 248);
    margin-right: 32px;
}
.Featured4card1img{
    width: 345px;
    height: 200px;
    background-color: ;
    background-image: url(../Image/Home/Group\ 37.png);
}
.Featured4card1text{
    width: 345px;
    height: 290px;
    background-color: ;    
}
.Ftag{
    width: 218px;
    height: 24px;
    background-color: ;
    margin-left: 20px;
    margin: 20px;
    
}
.Ftext{
    width: 330px;
    height: 130px;
    background-color: ;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    margin-left: 24px;
    color: #636363;
}
.Featured button{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 300px;
    height: 45px;
    color: #1f1d1d;
    background-color: #B1E82D;
    border-radius: 4px;
    margin-top: 30px;
}



.Featured4card2{
    width: 345px;
    height: 490px;
    background-color: rgb(248, 248, 248);
    margin-right: 32px;
}
.Featured4card2img{
    width: 345px;
    height: 200px;
    background-color: ;
    background-image: url(../Image/Home/Group\ 38.png);
}
.Featured4card2text{
    width: 345px;
    height: 290px;
    background-color: ;    
}
.Ftag{
    width: 218px;
    height: 24px;
    background-color: ;
    margin-left: 20px;
    margin: 20px;
    
}
.Ftext{
    width: 330px;
    height: 130px;
    background-color: ;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    margin-left: 24px;
    color: #474747;
}
.Featured button{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 300px;
    height: 45px;
    color: #1f1d1d;
    background-color: #B1E82D;
    border-radius: 4px;
    margin-top: 30px;
}




.Featured4card3{
    width: 345px;
    height: 490px;
    background-color: rgb(248, 248, 248);
    margin-right: 32px;
}
.Featured4card3img{
    width: 345px;
    height: 200px;
    background-color: ;
    background-image: url(../Image/Home/Group\ 39.png);
}
.Featured4card3text{
    width: 345px;
    height: 290px;
    background-color: ;    
}
.Ftag{
    width: 218px;
    height: 24px;
    background-color: ;
    margin-left: 20px;
    margin: 20px;
    
}
.Ftext{
    width: 330px;
    height: 130px;
    background-color: ;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    margin-left: 24px;
    color: #474747;
}
.Featured button{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 300px;
    height: 45px;
    color: #1f1d1d;
    background-color: #B1E82D;
    border-radius: 4px;
    margin-top: 30px;
}



.Featured4card4{
    width: 345px;
    height: 490px;
    background-color: rgb(248, 248, 248);
    margin-right: 32px;
}
.Featured4card4img{
    width: 345px;
    height: 200px;
    background-color: ;
    background-image: url(../Image/Home/Group\ 40.png);
}
.Featured4card4text{
    width: 345px;
    height: 290px;
    background-color: ;    
}
.Ftag{
    width: 218px;
    height: 24px;
    background-color: ;
    margin-left: 20px;
    margin: 20px;
    
}
.Ftext{
    width: 330px;
    height: 130px;
    background-color: ;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    margin-left: 24px;
    color: #474747;
}
.Featured button{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 300px;
    height: 45px;
    color: #1f1d1d;
    background-color: #B1E82D;
    border-radius: 4px;
    margin-top: 30px;
}








.Trending{
    width: 100%;
    height: 550px;
    background-color: #f5f5f5;
}
.Trending1{
    width: 1480px;
    height: 500px;
    background-color: #f5f5f5;
    background-size: cover;
    margin: auto;
}
.TrendingText {
    display: inline-block;
    font-family: "Inter", sans-serif;
}
.TrendingText h1 {
    font-size: 24px;
    padding-top: 50px;
    color: #1f1c1c;
}
.TrendingText p{
    font-size: 20px;
    padding-top: 50px;
    color: #309c0f;
    margin-left: 1370px;
    margin-top: -75px;
}



.TrendingCard{
    width: 1480px;
    height: 490px;
    background-color: #f5f5f5;
    margin-top: 25px;
    display: flex;
}


.TrendingCard0{
    width: 1480px;
    height: 163px;
    background-color: ;
    margin-top: ;
    display: flex;
}


.TrendingCard1{
    width: 478px;
    height: 163px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.TrendingCard1Img{
    width: 224px;
    height: 163px;
    background-color:  ;
}
.TrendingCard1Text{
    font-family: "Inter", sans-serif;
    width: 250px;
    height: 130px;
    background-color: ;
    margin: 20px;
}
.TrendingCard1Text button{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 215px;
    height: 40px;
    color: #1f1d1d;
    background-color: #B1E82D;
    border-radius: 4px;
    margin-top: 20px;
}



.TrendingCard2{
    width: 480px;
    height: 163px;
    background-color: rgb(49, 150, 58);
    margin-left: 25px; 
}
.TrendingCard2{
    width: 478px;
    height: 163px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.TrendingCard2Img{
    width: 224px;
    height: 163px;
    background-color: ;
}
.TrendingCard2Text{
    font-family: "Inter", sans-serif;
    width: 250px;
    height: 130px;
    background-color: ;
    margin: 20px;
}
.TrendingCard2Text button{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 215px;
    height: 40px;
    color: #1f1d1d;
    background-color: #B1E82D;
    border-radius: 4px;
    margin-top: 20px;
}


.TrendingCard3{
    width: 480px;
    height: 163px;
    background-color: rgb(49, 150, 58);
    margin-left: 25px; 
}

.TrendingCard3{
    width: 478px;
    height: 163px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.TrendingCard3Img{
    width: 224px;
    height: 163px;
    background-color: ;
}
.TrendingCard3Text{
    font-family: "Inter", sans-serif;
    width: 250px;
    height: 130px;
    background-color: ;
    margin: 20px;
}
.TrendingCard3Text button{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 215px;
    height: 40px;
    color: #1f1d1d;
    background-color: #B1E82D;
    border-radius: 4px;
    margin-top: 20px;
}





.TrendingCard00{
    width: 1480px;
    height: 163px;
    background-color: ;
    margin-top: 190px;
    margin-left: -1480px ;
    display: flex;
}


.TrendingCard4{
    width: 480px;
    height: 163px;
    background-color: rgb(49, 150, 58);
    margin-left: ; 
}
.TrendingCard4{
    width: 478px;
    height: 163px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.TrendingCard4Img{
    width: 224px;
    height: 163px;
    background-color: ;
}
.TrendingCard4Text{
    font-family: "Inter", sans-serif;
    width: 250px;
    height: 130px;
    background-color: ;
    margin: 20px;
}
.TrendingCard4Text button{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 215px;
    height: 40px;
    color: #1f1d1d;
    background-color: #B1E82D;
    border-radius: 4px;
    margin-top: 20px;
}


.TrendingCard5{
    width: 480px;
    height: 163px;
    background-color: rgb(49, 150, 58);
    margin-left: 25px; 
}
.TrendingCard5{
    width: 478px;
    height: 163px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.TrendingCard5Img{
    width: 224px;
    height: 163px;
    background-color: ;
}
.TrendingCard5Text{
    font-family: "Inter", sans-serif;
    width: 250px;
    height: 130px;
    background-color: ;
    margin: 20px;
}
.TrendingCard5Text button{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 215px;
    height: 40px;
    color: #1f1d1d;
    background-color: #B1E82D;
    border-radius: 4px;
    margin-top: 20px;
}


.TrendingCard6{
    width: 480px;
    height: 163px;
    background-color: rgb(49, 150, 58);
    margin-left: 25px; 
}
.TrendingCard6{
    width: 478px;
    height: 163px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.TrendingCard6Img{
    width: 224px;
    height: 163px;
    background-color: ;
}
.TrendingCard6Text{
    font-family: "Inter", sans-serif;
    width: 250px;
    height: 130px;
    background-color: ;
    margin: 20px;
}
.TrendingCard6Text button{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 215px;
    height: 40px;
    color: #1f1d1d;
    background-color: #B1E82D;
    border-radius: 4px;
    margin-top: 20px;
}








.CAT{
    width: 100%;
    height: 350px;
    background-color: #f5f5f5;
}
.Cat1{
    width: 1480px;
    height: 265px;
    background-image: url(../Image/Home/CTA.png);
    background-size: cover;
    margin: auto;
    margin-top: 40px;
    text-align: center;

}
.CartText{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 1000px;
    height: 40px;
    color: #ffffff;
    background-size: cover;
    text-align: center;
    margin: auto;
}
.CartText button{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 250px;
    height: 45px;
    color: #161515;
    background-color: #B1E82D;
    border-radius: 8px;
    margin-top: 20px;
}
.CartText p{
    font-size: 24px;
    color: #ffffff;
}










.Footer{
    width: 100%;
    height: 310px;
    background-color: #ffffff;
}
.Footer0{
    width: 1480px;
    height: 310px;
    background-color: #d15353;
    margin: auto;
    display: flex;
}


.Footr01{
    width: 1000px;
    height: 310px;
    background-color: #ffffff;
    
}
.Footr01 h1{
    font-family: "Jaro", sans-serif;
    padding-top: 30px;
    font-size: 36px;
    color: #007F29;
    
}
.Footr01 ul{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #353636;

}
.Footr01 li {
    list-style: none;
    padding: 4px;
    margin-top: 20px;
}



.Footr02{
    width: 400px;
    height: 310px;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    
}
.Footr02 h1{
        padding-top: 50px;
    font-size: 20px;
    color: #424242;
    
}
.Footr02 p{
    padding: ;
    font-size: 19px;
    color: #4a4b4b;

}
.Footr02 li {
    list-style: none;
    padding: 5px;
    margin-top: 20px;
}


.Footr03{
    width: 500px;
    height: 310px;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    
}
.Footr03 h1{
        padding-top: 50px;
    font-size: 20px;
    color: #424242;
    
}
.Footr03 p{
    padding: ;
    font-size: 19px;
    color: #4a4b4b;

}
.Footr03 li {
    list-style: none;
    padding: 5px;
    margin-top: 20px;
}



.Footr04{
    width: 200px;
    height: 310px;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    
}
.Footr04 h1{
        padding-top: 50px;
    font-size: 20px;
    color: #424242;
    
}
.Footr04 p{
    padding: ;
    font-size: 19px;
    color: #4a4b4b;

}
.Footr04 li {
    list-style: none;
    padding: 5px;
    margin-top: 20px;
}





.Copyright{
    width: 100%;
    height: 50px;
    background-color: #007F29;
    margin: auto;
}
.Copyright0{
    width: 1480px;
    height: 50px;
    background-color: ;
    margin: auto;

}
.Copyright p{
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font: 12px;
    text-align: center;
    padding: 10px;

}


















































.CLbody1T{
    height: 40px;
    width: 550px;
}

.CLbody1{
    display: flex;
    margin-bottom: 20px;
}
.CLbody1 button{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 200px;
    height: 40px;
    color: #ffffff;
    background-color: #007F29;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 25px;

}






.CategoriesP{
    width: 1425px;
    height: 2000px;
    background-color: #f5f5f5;
    margin: auto;
    display: flex;
}
.CategoriesP01{
    width: 1000px;
    height: 2000px;
    background-color: #f5f5f5;  
}
.CategoriesP01 p{
    color: #858585;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    
    margin-top: 30px;
    margin-bottom: 20px;    
}



.CCard01{
    width: 1000px;
    height: 287px;
    background-color: #ffffff;
    display: flex;
    margin-bottom: 16px;
}
.CCard01IMG{
    width: 350px;
    height: 287px;
    background-color: #ce2ddd;
}
.CCard01TEXT{
    width: 650px;
    height: 247px;
    background-color: #ffffff;
    
    padding: 20px;

    font-family: "Inter", sans-serif;
}
.CCard01TEXT button{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    width: 230px;
    height: 40px;
    color: #1d1c1c;
    background-color: #B1E82D;
    border-radius: 8px;
    margin-top: 10px;
}
.CCard01TEXT h2{
    font-family: "Inter", sans-serif;
    font-size: 21px;
    color: #2b2b2b;
    margin-top: 18px;
}
.CCard01TEXT h4{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #4d4d4d;
    margin-top: -10px;
    margin-bottom: 15px;
}
.CCard01TEXT p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #424242;
    margin-bottom: px;
    margin-top: -1px;
}
.ButtonAndDate{
    display: flex;
}
.ButtonAndDate p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #838383;
    padding: 20px;
    margin-left: 130px;
}


.CLbody3{
    display: flex;
}
.CLbody3 button{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 400px;
    height: 40px;
    color: #ffffff;
    background-color: #007F29;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 300px;
}
.CLbody3 p{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #4e4e4e;
    
    margin-left: 140px;
}








.CategoriesP02{
    width: 475px;
    height: 2000px;
    background-color: #f5f5f5;
    margin-left: 50px;
    display: ;
}
.CatagoriesCard p{
    color: #1f1f1f;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    
    margin-top: 30px;
    margin-bottom: 25px;
}
.CatagoriesCard{
    width: 434px;
    height: 580px;
    background-color: #f5f5f5;  
}
.CatagoriesCard2{
    width: 434px;
    height: 550px;
    background-color: #f5f5f5;  
}


































.CUBanner{
    width: 100%;
    height: 700px;
    background-image: url(../Image/About/Group\ 46.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.CUBannerText{
    width: 1475px;
    height: 600px;
    background-color:  ;
    margin: auto;
    text-align: center;
    padding: ;

}
.CUBannerText h1{
    font-family: "Inter", sans-serif;
    font-size: 48px;
    padding-top: 300px;
    color: #ffffff;
}
.CUBannerText p{
    font-family: "Inter", sans-serif;
    font-size: 28px;
    padding-top: 25px;
    color: #ffffff;
}
.CUBannerText button{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 250px;
    height: 50px;
    color: #ffffff;
    background-color: #007F29;
    border-radius: 12px;
    margin-right: 20px;
    margin-top: 100px;
}









.BWhy{
    width: 100%;
    height: 520px;
    background-color: #ffffff; 
}
.BWhy0{
    width: 1475px;
    height: 600px;
    background-color:  ;
    margin: auto;
    display: flex;
}
.BWhyText{
    width: 800px;
    height: 400px;
    background-color:  ;
    margin-top: 80px;
    font-family: "Inter", sans-serif;
}
.BWhyText h1{
    font-size: 32px;
    color: #161515;
    margin-bottom: 10px;

}
.BWhyText h3{
    font-size: 20px;
    color: #161515;
    margin-bottom: 70px;

}
.BWhyText p{
    font-size: 20px;
    color: #161515;
    margin-bottom: 30px;

}
.BWhyImg{
    width: 650px;
    height: 600px;
    background-color: ;
    margin-left: 25px;
    margin-top: 60px;
}









.BAbout{
    width: 100%;
    height: 600px;
    background-color: #f5f5f5; 
}
.BAbout0{
    width: 1475px;
    height: 600px;
    background-color:  ;
    margin: auto;
    display: flex;
}
.BAboutText{
    width: 800px;
    height: 400px;
    background-color: ;
    margin-top: 100px;
    margin-left: 70px;
    font-family: "Inter", sans-serif;
}
}
.BAboutText h1{
    font-size: 32px;
    color: #161515;
   
}
.BAboutText h3{
    font-size: 20px;
    color: #161515;
    margin-top: 10px;
    margin-bottom: 80px;

}
.BAboutText p{
    font-size: 20px;
    color: #161515;
    margin-bottom: 30px;

}
.BAboutImg{
    width: 650px;
    height: 600px;
    background-color: ;
    
    margin-top: 50px;
}

































.ContactBanner{
    width: 100%;
    height: 700px;
    background-image: url(../Image/About/Group\ 46.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ContactBannerText{
    width: 1475px;
    height: 600px;
    background-color:  ;
    margin: auto;
    text-align: center;
    padding: ;

}
.ContactBannerText h1{
    font-family: "Inter", sans-serif;
    font-size: 48px;
    padding-top: 300px;
    color: #ffffff;
}
.ContactBannerText p{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    padding-top: 30px;
    color: #ffffff;
}






.BContac{
    width: 1475px;
    height: 150px;
    background-color: ;
    margin: auto;
    font-family: "Inter", sans-serif;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 40px;
}
.BContac h3{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    padding-top: 30px;
    color: #222222;
}
.BContac p{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    padding-top: 15px;
    color: #222222;
}




.BContac0{
    width: 1475px;
    height: 800px;
    background-color: ;
    margin: auto;
    display: flex;
}

.ContactForm{
    width: 460px;
    height: 680px;
    background-color: #ffffff;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    padding: 25px;
}
.Name{
    width: 460px;
    height: 105px;
    background-color: #ffffff;
    margin-top: 20px;
    
}
.NameBox{
    width: 460px;
    height: 48px;
    background-color: #f5f5f5;
    margin-top: 10px;
    border-radius: 8px;
}
.NameBox p{
    padding: 12px;
}



.email{
    width: 460px;
    height: 105px;
    background-color: rgb(255, 255, 255);
}
.emailBox{
    width: 460px;
    height: 48px;
    background-color: #f5f5f5;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.email p{ padding: 12px;}


.Mobile{
    width: 460px;
    height: 105px;
    background-color: rgb(255, 255, 255);
}
.MobileBox{
    width: 460px;
    height: 48px;
    background-color: #f5f5f5;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.Mobile p{ padding: 12px;}



.Message{
    width: 460px;
    height: 105px;
    background-color: rgb(255, 255, 255);
}
.MessageBox{
    width: 460px;
    height: 100px;
    background-color: #f5f5f5;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.Message p{ padding: 12px;}


.Agree{
    width: 460px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    display: flex;
}
.AgreeBox{
    width: 20px;
    height: 20px;
    background-color: #f5f5f5;
    background-image: url(../Image/Contact/Rectangle\ 78.png);
    margin-top: 10px;
    
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
}
.AgreeText p{ padding: 10px; }

.ContactForm button{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 460px;
    height: 50px;
    color: #ffffff;
    background-color: #B1E82D;
    border-radius: 12px;
    margin-top: 40px;

} 












.ContactInfo{
    width: 935px;
    height: 730px;
    background-color: ;
    margin-left: 30px;
}

.CInfo{
    width: 885px;
    height: 125px;
    background-color: #ffffff;
    margin-bottom: 30px;
    border-radius: 16px;

    font-size: 20px;
    padding: 25px;
    font-family: "Inter", sans-serif;
}
.APE{
    width: 885px;
    height: 50px;
    background-color: ;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    color: #3a3a3a;
    font-family: "Inter", sans-serif;
    
}
.Address{
    font-size: 16px;
    margin-right: 150px;
    

}
.Postcode{
    font-size: 16px;
    margin-right: 150px;


}
.Email{
    font-size: 16px;

}

.CMap{
    width: 935px;
    height: 525px;
    background-color: ;   
}

